@media (max-width: 1170px) {
	.grid {
	    width: 100%;
	    margin: 0 auto;
	}
	    .grid .colx1, .grid .colx4, .grid .colx6, .grid .colx8, .grid .colx12  {
	        padding-left: 10px;
	        padding-right: 10px;
	        margin: 0 0 1em;
	        -moz-box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        box-sizing: border-box;
	    }	
	    .grid > .colx4, .colx12 > .colx4, .ulc .colx4, .gallery .colx4 {
	        width: 33%;
	    }
	    .grid .colx8 {
	        width: 66.7%;
	    }

	.grid .colx6, .grid .colx8 .colx4 {
		width: 50%;
	}

	.grid .alpha{ padding-left:0; }
    .grid .omega{ padding-right:0; }
	

	section[role="banner"] {
		padding-left: 0;
		padding-right: 0;
	}

	.grid .colx8 .colx4.omega {
		padding: 0 0 0 10px;
	}

	.grid .colx4 img { max-width: 100%; }

	.container,
	.grid .colx12,
	.grid .colx4 iframe, .fonts {
	    width: 100%;
	    height: auto;
	}

	footer[role="contentinfo"] {
		padding: 10px;
	}

	/* Editor page changes */
	#wfs .white p span, #wfs .black p span, #wfs .s span { display: none; }
	#wfs .ulc p span.text { display: block; }
}

@media (max-width: 500px) {
	/* Fluid baby */
	header {
		padding: 15px 0 0;
	}
	header .container .logo {
		margin: -19px 20px 10px 10px;
		font-size: 2.5em;
	}
	header .container h1 {
		font-size: 2.308em;
	}
	header .container h2 {
		font-size: 0.692em;
		top: -0.8em;
	}
	header .container ul[role="tablist"] {
		float: none;
		width: 100%;
		clear: both;
		letter-spacing: -0.31em;
	}
		header .container ul[role="tablist"] li {
			float: none;
			display: inline-block;
			width: 33%;
			margin: 0;
			text-align: center;
			font-size: 1.5em;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			white-space: nowrap;
			letter-spacing: normal;
			-moz-box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        box-sizing: border-box;
		}
		header .container ul[role="tablist"] li:last-child {
			margin: 0 -1px 0 0;
		}

	section[role="banner"] {
		padding: 20px 0 0;
	}
		section[role="banner"] .grid .colx4,
		section[role="banner"] .grid .colx8 {
	        width: 100%;
	        overflow-x: auto;
	    }
	    section[role="banner"] .grid .colx4 {
	        margin: 0;
	        overflow-x: visible;
	    }
	    section[role="banner"] h1 {
	    	font-size: 1.5em;
	    }

	.grid section[role="region"] { display: none; }
	.grid section[role="main"],
	.grid section[role="region"].colx6,
	.grid .colx8 .colx4, .grid .colx12 .colx8, .grid .colx12 .colx4, .gallery .colx4 {
		width: 100%;
	}
	.grid .colx8 .colx4.omega, .grid .colx12 .colx4 {
		padding: 0;
	}
	.grid section[role="region"].charset { display: block; }

	.content h1 {
		xfont-size: 1.154em;
	}
	.content .hr01 {
		line-height: 1.2em;
		margin: 1.2em 0 1em;
	}
	.content .hr01 span {
		top: -1.3em;
		width: 80%;
		display: inline-block;
	}
	.content .preview {
		overflow:hidden;
	}

	footer .grid > .colx4, footer .grid > .colx8 {
		float: none;
		width: 100%;
		text-align: left;
	}
}