/* Just some base styles not needed for example to function */
html { font-family: Verdana, Arial, Helvetica, sans-serif; }

html,body { height: 100%; }

html, body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}

a	{ -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
img	{ border: none; }
p	{ margin: 0 0 1.308em 0; /* 17px */ }
ul 	{ padding: 0 0 0 20px; }

.clearfix:after 
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
	.clearfix { display: inline-block; }
	html[xmlns] .clearfix { display: block; }
	* html .clearfix { height: 1%; }

html	{ font-size: 100%; /* IE hack */ }
body	{ font-size: 0.75em; /* Sets base font size to 12px */ }
table	{ font-size: 100%; /* IE hack */ }
input, select, textarea, th, td { font-size: 1em; }

/* Drag drop upload styles */
@font-face {
	font-family: 'VomZom';
	src: url('../gallery/VomZom/vomzom.eot');
	src: local('VomZom'), 
	url('../gallery/VomZom/vomzom.woff') format('woff'), 
	url('../gallery/VomZom/vomzom.ttf') format('truetype'),
	url('../gallery/VomZom/vomzom.svg#VomZom') format('svg');
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.btn
{
	background: #547980;
	color: #fff !important;
	text-shadow: 1px 1px 2px #594f4f;
	padding: 5px;
	text-decoration: none !important;
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #594f4f;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 3px rgba(0,0,0,0.75);
}
.btn2 { background: #519548; cursor: move; }
.btn3
{
	position: static;
	border: 1px solid #fff;
}

.btn:hover, .btn:focus		{ background: #45ada8; }
.btn2:hover, .btn2:focus	{ background: #519548; }

.dmar01 { margin-right: 0 !important; }

.paragraph01	{ text-align: center; font-size: 1.667em !important; }

body,
#maincontainer
{ 
	background: #594F50;
	background: -moz-linear-gradient(top, #594F50, #547980); /* Firefox 3.6+ */
	background: linear-gradient(top, #594F50, #547980); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#594F50), to(#547980)); /* Safari */
	background: -o-gradient(linear, 0% 0%, 0% 100%, from(#594F50), to(#547980)); /* Safari */
	color: #ffffff; 
}

#maincontainer
{
	display: table;
	height: 100%;
	width: 100%;
}
	/*  Basic table layout */
	#maincontainer header#banner,
	#maincontainer #content,
	#maincontainer footer
	{
		display: table-row;
	}

#maincontainer header#banner
{
	padding: 30px 0 0;
	display: table-cell;
	border-bottom: 3.667em solid #fff; /* 44px */
	margin: 0 0 1.333em;
	height: 7.5em; /* 90px */
}
	#banner hgroup
	{
		display: block;
		margin: 0;
		border-bottom: 0.417em solid #547980; /* 5px */
		height: 7.5em; /* 90px */
	}
	header#banner h1,
	header#banner h2
	{
		font-family: VomZom, Verdana, Arial, Helvetica, sans-serif;
		font-size: 8.333em; /* 100px */
		text-shadow: 1px 1px 1px #000;
		width: 960px; 
		margin: 0 auto;
		color: #45ada8;
		text-indent: 127px;
		white-space: nowrap;
		height: 1.26em; /* 126px */
	}
	header#banner h2
	{
		font-size: 1.333em; /* 16px */
		margin-top: -1.063em;
		text-indent: 197px;
		text-shadow: none;
		height: auto;
	}

#content
{
	height: 100%;
}
	#content #content_inner 
	{ 
		height: 100%; 
		width: 960px; 
		margin: 0 auto;
		padding: 16px 0 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#content section
	{
		display: block;
		width: 625px;
		min-height: 100%;
		float: left;
		margin: 0 15px 0 0;
	}
	#content section:first-child
	{
		background: #56686c;
		background: -moz-linear-gradient(top, #56686c, #547980); /* Firefox 3.6+ */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56686c), to(#547980)); /* Safari */
		width: 305px;
		
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
		-moz-box-shadow: 5px 5px 5px #000;
		-webkit-box-shadow: 5px 5px 5px #000;
		box-shadow: 5px 5px 5px #000;
	}
		section header
		{
			background-color: #547980;
			display: block;
			padding: 18px 0 20px;
			margin: 0 0 4px;
			
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			border-radius: 10px 10px 0 0;
			
			-moz-box-shadow: 1px 1px 3px #000;
			-webkit-box-shadow: 1px 1px 3px #000;
			box-shadow: 1px 1px 3px #000;
		}
			section header h1
			{
				text-shadow: 1px 1px 1px #000;
				text-align: center;
				font-size: 1.833em;
				line-height: 1;
			}
		ul#fonts
		{
			padding: 0;
			margin: 0 15px 15px;
			height: 400px;
		}
			#fonts li
			{
				font-size: 1.5em; /* 18px */
				line-height: 3.222em; /* 58px */
				list-style: none;
				height: 3.222em; /* 58px */
				overflow: hidden;
				border-bottom: 2px solid #594f4f;
				-moz-border-bottom-colors: #547980 #594f4f;
				cursor: pointer;
			}
				#fonts li span
				{
					width: 84px;
					height: 2.222em; /* 40px */
					line-height: 2.222em; /* 40px */
					display: block;
					float: left;
					padding: 0 5px 0 0;
					margin: 0.444em 0 0;
					text-align: center;
					overflow: hidden;
				}
				#fonts li span:first-child
				{
					width: 179px;
					border-right: 2px solid #594f4f;
					-moz-border-right-colors: #547980 #594f4f;
				}
			#fonts li:first-child { font-family: VomZom, Verdana, Arial, Helvetica, sans-serif; } /* Apply example font to first item only */
			#fonts li.active,
			#fonts li:hover,
			#fonts li:focus
			{
				background: -moz-linear-gradient(top, #56686c, #547980); /* Firefox 3.6+ */
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56696d), to(#547980)); /* Safari */
				text-shadow: 1px 1px 10px #000;
			}
	#content section:first-child:-moz-drag-over  { -moz-box-shadow: 5px 5px 40px #fff; }
	#custom
	{
		padding: 0 0 4.167em 16px; /* 50px */
		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
		#custom #tab1 { position: relative; }
		#custom #tab1:before
		{
			display: none;
			content: "This text is editable";
			background: -moz-linear-gradient(top, #56686c, #547980); /* Firefox 3.6+ */
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56696d), to(#547980)); /* Safari */
			background: #56696d;
			border: 1px solid #fff;
			font-weight: bold;
			left: 50%;
			margin: 0 0 0 -70px;
			opacity: 0.7;
			padding: 5px;
			position: absolute;
			width: 140px;
			text-align: center;
			
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		#custom #tab1:hover			{ text-shadow: 1px 1px 10px #000; }
		#custom #tab1:hover:before 	{ display: block; top: -10px; }
		
		#custom h1
		{
			color: #e5fcc2;
			font-size: 2.5em;
			font-weight: normal;
			margin: 0 0 0.633em; /* 19px */
		}
		#custom p,
		#custom .list01 li
		{
			color: #e5fcc2;
			font-size: 1.083em;
			line-height: 1.308em;
		}
		#custom .list01 li
		{
			
		}
			#custom .list01 li li
			{
				font-size: 1em;
			}
			
		#custom section
		{
			margin: 0;
		}
		#custom #tab2 { display: none; margin-top: 22px; }
		#custom #tab3 { display: none; }
		
		#custom section p a
		{
			color: #fff;
			font-weight: 700;
		}
	
		#tabs
		{
			border-bottom: 2px solid #e5fcc2;
			height: 29px;
			margin: 0 -15px 23px;
			padding: 2px 0 0 15px;
		}
			#tabs li
			{
				list-style: none;
				float: left;
			}
			#tabs li a
			{
				background: #547980;
				padding: 0;
				margin: 0 2px 0 0;
				float: left;
				padding: 0 10px;
				height: 28px;
				font-size: 18px;
				line-height: 28px;
				text-shadow: 1px 1px 2px #594f4f;
				
				-webkit-border-top-left-radius: 10px;
				-webkit-border-top-right-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-moz-border-radius-topright: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			#tabs li.active a,
			#tabs li.active a:hover,
			#tabs li.active a:focus { border: 2px solid #e5fcc2; border-width: 2px 2px 2px; border-bottom-color: #57585b; height: 29px; margin: -2px 2px 0 0; background: none; }
			#tabs li.active a:hover,
			#tabs li.active a:focus { text-shadow: 1px 1px 3px #000; }
			#tabs li a { color: #fff; text-decoration: none; outline: none; }
			#tabs li a:hover,#tabs li a:focus { background: #45ada8; }
			#tabs li.active a { color: #e5fcc2; }
	
		ul.list02
		{
			padding: 0;
		}
			ul.list02 li
			{
				background: url(gallery/gr_fonts.png) 0 0 no-repeat;
				cursor: pointer;
				width: 290px;
				height: 140px;
				float: left;
				list-style: none;
				margin: 0 30px 45px 0;
				position: relative;
			}
			ul.list02 li#font02	{ background-position: 0 -140px; margin-right: 0; }
			ul.list02 li#font03	{ background-position: 0 -280px; }
			ul.list02 li#font04	{ background-position: 0 -420px; margin-right: 0; }
			ul.list02 li#font04b	{ background-position: 0 -560px; margin-right: 0; }
			ul.list02 li#font05	{ background-position: 0 -700px; }
			ul.list02 li#font05b	{ background-position: 0 -840px; }
			ul.list02 li#font06	{ background-position: 0 -980px; margin-right: 0; }
			ul.list02 li.loading	{ background: #e8ddcb url(gallery/gr_loader.gif) 50% 50% no-repeat !important; }
			
		ul.list02 ul
		{
			height: 15px;
			padding: 0;
			margin: -15px 0 0 0;
		}
			ul.list02 ul li
			{
				width: auto;
				height: 15px;
				background: #45ada8;
				float: left;
				line-height: 15px;
				margin: 0 2px 0 0;
				padding: 0 6px;
				font-size: 10px;
				font-weight: 700;
				
				-webkit-border-top-left-radius: 2px;
				-webkit-border-top-right-radius: 2px;
				-moz-border-radius-topleft: 2px;
				-moz-border-radius-topright: 2px;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}
			ul.list02 ul li.active { background: #e8ddcb; color: #000; }
			
		
		
footer
{
	height: 40px;
	background-color: #594F50;
	position: relative;
	z-index: 1;
}
	footer p
	{
		margin: 0 auto;
		width: 960px;
		line-height: 40px;
		font-size: 0.917em;
	}
	footer a.cssninja			{ float: right; background: url(ico_ninja.png) 0 50% no-repeat; padding: 0 0 0 27px; }
	footer a 						{ color: #fff; text-decoration: none; }
	footer a:hover,footer a:focus	{ text-decoration: underline; }
