section#banner.clearfix(role='banner')
  .container.grid
    h1.colx8 A revolutionary way to test custom fonts in the browser. No coding, no uploading, just drag and drop.

    aside.colx4(role='complementary')
      video(height='200', width='300', controls, poster='/assets/poster.jpg')
        source(type='video/mp4', src='/assets/screencast.mp4')
        source(type='video/webm', src='/assets/screencast.webm')
        source(type='video/ogg', src='/assets/screencast.ogv')
        object(width='300', height='200', type='application/x-shockwave-flash')
          param(name='movie', value='http://www.youtube.com/v/_pfiyPzr7TE?fs=1&hl=en_US')
          param(name='allowFullScreen', value='true')
          param(name='allowscriptaccess', value='always')
          embed(src='http://www.youtube.com/v/_pfiyPzr7TE?fs=1&hl=en_US', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='300', height='200')

.content.grid.clearfix

  section.colx4(role='region')
    h1 Drag your fonts here
    ul#fonts.fonts

  section#custom.colx8(role='main')

    .colx4.alpha
      h1 What is it?
      p font dragr allows you to easily test custom fonts, through the <code>@font-face</code> at-rule, without the need for any CSS coding or knowledge of CSS coding. All you need to do is drag and drop.
      p It alleviates the cumbersome nature of testing custom fonts and allows you to quickly and easily load in a font, play around with it and see if it's the right one for you.

    .colx4.omega
      h1 How do I use it?
      p It's incredibly easy to use. All you need to do is drag and drop a font file from your computer into font dragr in a supporting browser (Such as Firefox 3.6+ or Chrome 6+).
      p You can also select a font to test from the gallery. These fonts can be tested in most browsers, including IE6 and up.

  section.colx12
    h1.hr01
      span The revolution doesn't end there

    .colx8.alpha
      h1 You can test on any website
      p Testing fonts within font dragr, while useful, won't give the full look and feel of testing it on your own site. That's where the font dragr bookmarklet comes in handy.
      p The bookmarklet allows you to test any font from your file system or any of the fonts found in the gallery. Same simple approach the web app has, with the added ability for testing on any website.
      p To install the bookmarklet in your browser just drag and drop the button below to your bookmarks. If you're not sure where to drag it too or you want to get a quick inside look at how you can use it make sure to check out the screencast to the right.
      p 
        | Drag the 
        a.button.vomzom(href="javascript:(function(d){var%20s=d.createElement('script'),h=d.head||d.getElementsByTagName('head')[0];s.src='http://fontdragr.com/bookmarklet/fd-script.js';h.appendChild(s);})(document);") font dragr
        |  bookmarklet to your bookmarks.

    .colx4.omega
      h1 Bookmarklet in action
      video(height='200', width='300', controls, poster='/assets/poster.jpg')
        source(type='video/mp4', src='/assets/screencast.mp4')
        source(type='video/webm', src='/assets/screencast.webm')
        source(type='video/ogg', src='/assets/screencast.ogv')
        object(width='300', height='200', type='application/x-shockwave-flash')
          param(name='movie', value='http://www.youtube.com/v/_pfiyPzr7TE?fs=1&hl=en_US')
          param(name='allowFullScreen', value='true')
          param(name='allowscriptaccess', value='always')
          embed(src='http://www.youtube.com/v/_pfiyPzr7TE?fs=1&hl=en_US', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='300', height='200')

  section.colx12
    h1.hr01
      span The bookmarklet in three simple steps

    .colx4.alpha
      h1 Load it
      p
        img(src='/assets/gr_load.gif')
      p Load the font dragr bookmarklet in the website you wish to test. Once it loads it will appear at the top of the browser window ready to use.

    .colx4
      h1 Drag it
      p
        img(src='/assets/gr_drag.gif')
      p Drag and drop a font from your desktop or from the gallery. The last dropped font will become active and be applied to the body element by default.

    .colx4.omega
      h1 Test it
      p
        img(src='/assets/gr_test.gif')
      p With the bookmarklet you can target specific elements using CSS selectors. Or by selecting some text you can apply the custom font to a selection.