#maincontainer header#banner, footer { display: block; }
#banner hgroup { height: 90px; margin-bottom: -90px; overflow: visible; }
#banner hgroup h1, #banner hgroup h2 { position: relative; z-index: 2; }
#content section
{
	width: 305px;
	background: #56686c;
}
#content #custom,
#content #custom section
{
	width: 605px;
	background: none;
}

ul.list02 li { margin: 0 15px 45px 0; }
#tabs li.active { border-bottom-color: #594F50; }
#tabs li.active a { position: relative; }