<section class="clearfix" role="banner" id="banner">
	<div class="container grid">
		<h1 id="fontname" class="colx8">VomZom</h1>
		<aside id="dropzone" class="colx4">
			<ul id="fonts"></ul>
		</aside>
	</div>
</section>

<div contenteditable="true" class="grid" id="wfs">
	<section class="colx6" role="region">
		<h2>Text sample <span>&ndash; CSS font-size (px) with 1.4em line-height</span></h2>
		<p class="s s18"><span>18</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent"&hellip;</p>
		<p class="s s14"><span>14</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent" and the progressive tendencies of&hellip;</p>
		<p class="s s12"><span>12</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent" and the progressive tendencies of an able mind. For, let a man be as able &amp; original&hellip;</p>
		<p class="s s11"><span>11</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent" and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may&hellip;</p>
		<p class="s s10"><span>10</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent" and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can't afford to discard knowledge of what&hellip;</p>
		<p class="s s9"><span>9</span> Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, "useful precedent" and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can't afford to discard knowledge of what has gone before or what is now going&hellip;</p>
	</section>
	<section class="colx6 charset" role="region">
		<h2>Characters</h2>
		<p class="s s56">A&thinsp;B&thinsp;C&thinsp;D&thinsp;E&thinsp;F&thinsp;G&thinsp;H&thinsp;I&thinsp;J&thinsp;K&thinsp;L&thinsp;M&thinsp;N&thinsp;O&thinsp;P&thinsp;Q&thinsp;R&thinsp;S&thinsp;T&thinsp;U&thinsp;V&thinsp;W&thinsp;X&thinsp;Y&thinsp;Z<br>
		a&thinsp;b&thinsp;c&thinsp;d&thinsp;e&thinsp;f&thinsp;g&thinsp;h&thinsp;i&thinsp;j&thinsp;k&thinsp;l&thinsp;m&thinsp;n&thinsp;o&thinsp;p&thinsp;q&thinsp;r&thinsp;s&thinsp;t&thinsp;u&thinsp;v&thinsp;w&thinsp;x&thinsp;y&thinsp;z<br>
		1&thinsp;2&thinsp;3&thinsp;4&thinsp;5&thinsp;6&thinsp;7&thinsp;8&thinsp;9&thinsp;0&thinsp;&amp;&thinsp;@&thinsp;.&thinsp;,&thinsp;?&thinsp;!&thinsp;'&thinsp;"&thinsp;"&thinsp;(&thinsp;)</p>
	</section>
	
	<section class="colx12">
		<h2>Body size comparison</h2>

		<div class="bodysize">
			<table>
				<tbody><tr>
					<th class="fontname">Font name</th>
					<th>Arial <a href="http://www.codestyle.org/servlets/FontStack?stack=Arial,Helvetica&amp;generic=sans-serif">stack</a></th>
					<th>Times <a href="http://www.codestyle.org/servlets/FontStack?stack=Times+New+Roman,Times&amp;generic=serif">stack</a></th>
					<th>Georgia <a href="http://www.codestyle.org/servlets/FontStack?stack=Georgia,New+Century+Schoolbook,Nimbus+Roman+No9+L&amp;generic=serif">stack</a></th>
				</tr>
				<tr>
					<td><span>Body</span></td>
					<td class="tf typeface2"><span>Body</span></td>
					<td class="tf typeface3"><span>Body</span></td>
					<td class="tf typeface4"><span>Body</span></td>
				</tr>
			</tbody></table>	
		</div><!-- end .bodysize -->
	</section>
	
	<section class="colx12">
		
		<h2>Grayscale <span>&ndash; CSS hex color</span></h2>
		
		<div class="grayscale clearfix">
			<div class="colx6 white alpha">
				<p class="c000"><span>#000</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c333"><span>#333</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c666"><span>#666</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c999"><span>#999</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="cCCC"><span>#CCC</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
			</div>

			<div class="colx6 black omega">
				<p class="cFFF"><span>#FFF</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="cCCC"><span>#CCC</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c999"><span>#999</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c666"><span>#666</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
				<p class="c333"><span>#333</span>The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to</p>
			</div>
		</div><!-- end .grayscale -->
		
	</section>
	
	<section class="ulc clearfix">
		<section class="colx12">
			<h2>Size <span>&ndash; CSS font-size (px)</span></h2>
			<p class="s s36"><span>36</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s30"><span>30</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s24"><span>24</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
		</section>
		<section class="colx8">
			<p class="s s21"><span>21</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s18"><span>18</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
		</section>
		<section class="colx4 upp">
			<p class="s s9"><span>9</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s10"><span>10</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
		</section><div class="clearfix"></div>
		<section class="colx6">
			<p class="s s16"><span>16</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s14"><span>14</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s13"><span>13</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
		</section>
		<section class="colx6 upp">
			<p class="s s11"><span>11</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s12"><span>12</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s13"><span>13</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
		</section><div class="clearfix"></div>
		<section class="colx4">
			<p class="s s12"><span>12</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s11"><span>11</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s10"><span>10</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
			<p class="s s9"><span>9</span> <span class="text">Pack my box with five dozen liquor jugs.</span></p>
		</section>
		<section class="colx8 upp">
			<p class="s s14"><span>14</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s16"><span>16</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s18"><span>18</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
		</section><div class="clearfix"></div>
		<section class="colx12 upp">
			<p class="s s21"><span>21</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s24"><span>24</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
			<p class="s s30"><span>30</span> <span class="text">Pack my box with five dozen liquor jugs</span></p>
		</section>
	</section>
</div>