<section id="banner" role="banner" class="clearfix">
	<div class="container grid">
		<h1 class="colx8" id="fontname">VomZom</h1>
		<aside class="colx4" id="dropzone">
			<ul id="fonts"></ul>
		</aside>
	</div>
</section>

<div id="content" class="grid gallery clearfix">
	<div id="gallery">
		
	</div>
</div>