<section class="clearfix" role="banner" id="banner">
	<div class="container grid">
		<h1 class="colx8">A revolutionary way to test custom fonts in the browser. No coding, no uploading, just drag and drop.</h1>
		<aside class="colx4" role="complementary">
			<video height="200" width="300" poster="assets/poster.jpg" controls="" tabindex="0">
				<source src="assets/screencast.mp4" type="video/mp4"></source>
				<source src="assets/screencast.webm" type="video/webm"></source>
				<source src="assets/screencast.ogv" type="video/ogg"></source>
				<object height="200" width="300" type="application/x-shockwave-flash">
					<param value="http://www.youtube.com/v/_pfiyPzr7TE?fs=1&amp;hl=en_US" name="movie">
					<param value="true" name="allowFullScreen">
					<param value="always" name="allowscriptaccess">
					<embed height="200" width="300" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/_pfiyPzr7TE?fs=1&amp;hl=en_US">
				</object>
			</video>
		</aside>
	</div>
</section>

<div class="grid clearfix" id="content">
	<section class="colx4" role="region" id="dropzone">
		<h1>Drag your fonts here</h1>
		<ul id="fonts"></ul>
	</section>
	<section class="colx8" role="main" id="custom">
		<div class="colx4 alpha">
			<h1>What is it?</h1>
			<p>font dragr allows you to easily test custom fonts, through the <code>@font-face</code> at-rule, without the need for any CSS coding or knowledge of CSS coding. All you need to do is drag and drop.</p>
			<p>It alleviates the cumbersome nature of testing custom fonts and allows you to quickly and easily load in a font, play around with it and see if it's the right one for you.</p>
			
		</div>
		<div class="colx4 omega">
			<h1>How do I use it?</h1>
			<p>It's incredibly easy to use. All you need to do is drag and drop a font file from your computer into font dragr in a supporting browser (Such as Firefox 3.6+ or Chrome 6+).</p>
			<p>You can also select a font to test from the gallery. These fonts can be tested in most browsers, including IE6 and up.</p>
		</div>
	</section>
	
	<section class="colx12">
		
		<h1 class="hr01"><span>The revolution doesn't end there</span></h1>
		
		<div class="colx8 alpha">
			<h1>You can test on any website</h1>
			<p>Testing fonts within font dragr, while useful, won't give the full look and feel of testing it on your own site. That's where the font dragr bookmarklet comes in handy.</p>
			<p>The bookmarklet allows you to test any font from your file system or any of the fonts found in the gallery. Same simple approach the web app has, with the added ability for testing on any website.</p>
			<p>To install the bookmarklet in your browser just drag and drop the button below to your bookmarks. If you're not sure where to drag it too or you want to get a quick inside look at how you can use it make sure to check out the screencast to the right.</p>
			<p>Drag the <a class="button vomzom" href="#">font dragr</a> bookmarklet to your bookmarks.</p>
			
		</div>
		<div class="colx4 omega">
			<h1>Bookmarklet in action</h1>
			<video height="200" width="300" poster="assets/poster.jpg" controls="" tabindex="0">
				<source src="assets/screencast.mp4" type="video/mp4"></source>
				<source src="assets/screencast.webm" type="video/webm"></source>
				<source src="assets/screencast.ogv" type="video/ogg"></source>
				<object height="200" width="300" type="application/x-shockwave-flash">
					<param value="http://www.youtube.com/v/_pfiyPzr7TE?fs=1&amp;hl=en_US" name="movie">
					<param value="true" name="allowFullScreen">
					<param value="always" name="allowscriptaccess">
					<embed height="200" width="300" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/_pfiyPzr7TE?fs=1&amp;hl=en_US">
				</object>
			</video>
		</div>
		
	</section>
	
	<section class="colx12">
		
		<h1 class="hr01"><span>The bookmarklet in three simple steps</span></h1>
		
		<div class="colx4 alpha">
			<h1>Load it</h1>
			
			<p><img src="assets/gr_load.gif"></p>
			
			<p>Load the font dragr bookmarklet in the website you wish to test. Once it loads it will appear at the top of the browser window ready to use.</p>
			
		</div>
		<div class="colx4">
			<h1>Drag it</h1>
			
			<p><img src="assets/gr_drag.gif"></p>
			
			<p>Drag and drop a font from your desktop or from the gallery. The last dropped font will become active and be applied to the body element by default.</p>
			
		</div>
		<div class="colx4 omega">
			<h1>Test it</h1>
			
			<p><img src="assets/gr_test.gif"></p>
			
			<p>With the bookmarklet you can target specific elements using CSS selectors. Or by selecting some text you can apply the custom font to a selection.</p>
			
		</div>
		
	</section>
</div>