@font-face {
    font-family: 'VomZom';
	src: url('../gallery/VomZom/vomzom.eot'); /* IE9 Compat Modes */
	src: url('../gallery/VomZom/vomzom.eot?#iefix') format('embedded-opentype'),
		 url(data:font/truetype;charset=utf-8;base64,AAEAAAAQAQAABAAARkZUTVxH4DwAAAEMAAAAHEdERUYAMwAEAAABKAAAACBPUy8ybxRF1gAAAUgAAABgY21hcAR/5zgAAAGoAAABUmN2dCALIBIAAAAC/AAAACxmcGdtD7QvpwAAAygAAAJlZ2FzcAAAABAAAAWQAAAACGdseWY78CXAAAAFmAAAAVxoZWFk+Vp7RwAABvQAAAA2aGhlYQzPA0AAAAcsAAAAJGhtdHgP4gCIAAAHUAAAABhsb2NhARwApgAAB2gAAAAObWF4cAEgAIMAAAd4AAAAIG5hbWUlFUL+AAAHmAAAAcpwb3N0n1JNVgAACWQAAAA2cHJlcOr4mNQAAAmcAAABWgAAAAEAAAAAx/6w3wAAAADKJJeuAAAAAMokl64AAQAAAA4AAAAYAAAAAAACAAEAAQAFAAEABAAAAAIAAAAEA8kBkAAFAAAFmgUzAAABHwWaBTMAAAPRAGYCAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAABQWVJTAMAAZOAABmb+ZgAABu4C6QAAAAEAAAAAAAAAAAAAACAAAQAAAAMAAAADAAAAHAABAAAAAABMAAMAAQAAABwABAAwAAAACAAIAAIAAABkAGbgAP//AAAAZABm4AD///+f/54gBQABAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD9RAAAAVIBTgFQAVQBVgFoAWoBbQFvAXEBbwFMAVABVAFqAW0BbwFxAXMFmrAALLAAE0uwKlBYsEp2WbAAIz8YsAYrWD1ZS7AqUFh9WSDUsAETLhgtsAEsINqwDCstsAIsS1JYRSNZIS2wAyxpGCCwQFBYIbBAWS2wBCywBitYISMheljdG81ZG0tSWFj9G+1ZGyMhsAUrWLBGdllY3RvNWVlZGC2wBSwNXFotsAYssSIBiFBYsCCIXFwbsABZLbAHLLEkAYhQWLBAiFxcG7AAWS2wCCwSESA5Ly2wCSwgfbAGK1jEG81ZILADJUkjILAEJkqwAFBYimWKYSCwAFBYOBshIVkbiophILAAUlg4GyEhWVkYLbAKLLAGK1ghEBsQIVktsAssINKwDCstsAwsIC+wBytcWCAgRyNGYWogWCBkYjgbISFZGyFZLbANLBIRICA5LyCKIEeKRmEjiiCKI0qwAFBYI7AAUliwQDgbIVkbI7AAUFiwQGU4GyFZWS2wDiywBitYPdYYISEbINaKS1JYIIojSSCwAFVYOBshIVkbISFZWS2wDywjINYgL7AHK1xYIyBYS1MbIbABWViKsAQmSSOKIyCKSYojYTgbISEhIVkbISEhISFZLbAQLCDasBIrLbARLCDSsBIrLbASLCAvsAcrXFggIEcjRmFqiiBHI0YjYWpgIFggZGI4GyEhWRshIVktsBMsIIogiocgsAMlSmQjigewIFBYPBvAWS2wFCyzAEABQEJCAUu4EABjAEu4EABjIIogilVYIIogilJYI2IgsAAjQhtiILABI0JZILBAUliyACAAQ2NCsgEgAUNjQrAgY7AZZRwhWRshIVktsBUssAFDYyOwAENjIy0AAAAAAQAB//8ADwACAEQAAAXfBu4AFgAqAFQAshIBACuxHALpsCYvsQUK6bIFJgors0AFCwkrAbArL7AA1rEXDOmwFxCxIQErsAoysQ0M6bEsASuxIRcRErEFEjk5ALEmHBESsAA5sAURsAo5MDETNBI2JDMyHgIXESERFAIGBCMiJCYCJRQeAjMyPgI1NC4CIyIOAkRuvwECkzNnXlQfAW53xv74lJP+/r9uAW4zWn1KSINkPDxkg0hKfVozAsGTAQrHdxUfKRQBw/vTk/79vm1tvgEDk0qFZTs7ZYVKTIRjOTljhAAAAQBEAAADAgbuABEAMACyAAEAK7AQL7ENC+kBsBIvsADWsREO6bAMMrIRAAors0ARDwkrsAYysRMBKwAwMTMRNBI2JDMRIg4CHQEhESERRGy9AQKTSoNkOwFs/pQEL5MBAb5t/qw8YoNKqv6P/ewAAAEAAAAAAAAAAAADAAA5AwABAAAAAQAAmVXDTF8PPPUAHwgAAAAAAMokl64AAAAAyiSXrgAAAAAF3wbuAAAACAACAAAAAAAAAAEAAAbu/RcAAAYiAAAAAAXfAAEAAAAAAAAAAAAAAAAAAAAGAd0AAAAAAAACqgAABiIARANFAEQB9AAAAAAAAAAAAAAAbgCmAK4AAAABAAAABgArAAIAAAAAAAIAAQACABYAAAEAAFQAAAAAAAAACABmAAMAAQQJAAAAaAAAAAMAAQQJAAEADABoAAMAAQQJAAIADAB0AAMAAQQJAAMADgCAAAMAAQQJAAQAGgCOAAMAAQQJAAUAQgCoAAMAAQQJAAYADADqAAMAAQQJAMgAbgD2AEMAbwBwAHkAcgBpAGcAaAB0ACAAqQAgAGQAZQBmAGEAdQBsAHQAZQByAHIAbwByACwAIAAyADAAMAA3AC4AIABBAGwAbAAgAHIAaQBnAGgAdABzACAAcgBlAHMAZQByAHYAZQBkAC4AVgBvAG0AWgBvAG0AVgBvAG0AWgBvAG0AdwBlAGIAZgBvAG4AdABWAG8AbQBaAG8AbQAgAFYAbwBtAFoAbwBtAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAwACAAMgAwADAANwAgAGkAbgBpAHQAaQBhAGwAIAByAGUAbABlAGEAcwBlAFYAbwBtAFoAbwBtAFQAaABpAHMAIABmAG8AbgB0ACAAdwBhAHMAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHQAaABlACAARgBvAG4AdAAgAFMAcQB1AGkAcgByAGUAbAAgAEcAZQBuAGUAcgBhAHQAbwByAC4AAAACAAAAAAAA/2cAZgAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAABAAIARwBJAQIHdW5pRTAwMAAAuAH/hbABjQBLsAhQWLEBAY5ZsUYGK1ghsBBZS7AUUlghsIBZHbAGK1xYALACIEWwAytEsAQgRboAAgIAAAIrsAMrRLADIEW6AAQBGgACK7ADK0SwBSBFugACAgYAAiuwAytEsAYgRboABQE+AAIrsAMrRLAHIEWyBjkCK7ADK0SwCCBFsgczAiuwAytEsAkgRbIILQIrsAMrRLAKIEW6AAkCIwACK7ADK0SwCyBFsgonAiuwAytEAbAMIEWwAytEsBEgRboADAH5AAIrsQNGditEsBAgRbIR1wIrsQNGditEsA8gRbIQKgIrsQNGditEsA4gRboADwGAAAIrsQNGditEsA0gRbIOJQIrsQNGditEsBIgRboADH//AAIrsQNGditEsBMgRboAEgIgAAIrsQNGditEsBQgRboAEwEJAAIrsQNGditEsBUgRbIUBwIrsQNGditEWbAUKwAA) format('truetype');
    font-weight: normal;
    font-style: normal;

}
html,body { height: 100% }
#fontdragr {
	background: #394C5F url(data:image/gif;base64,R0lGODlhDAAMAJEAADlMXyNBXxYpOwAAACH5BAAAAAAALAAAAAAMAAwAAAIkjIBhCBYJxGtMxfROW1jn+VFe1lVcI0EphV2bq2ibF4G12HoFADs=);
	padding: 15px;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	color: #ECECEC;
	border-bottom: 15px solid #BB5316;
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	height: 114px;
	_position: absolute;
	*height: 69px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#fontdragr .logo {
	font-family: VomZom, Verdana, Arial, Helvetica, sans-serif;
	background-color: #BB5316;
	color: #ECECEC;
	float: left;
	font-size: 3.077em; /* 40px */
	line-height: 1em;
	padding: 36px 10px 5px;
	margin: -15px 20px 0 10px;
	text-shadow: 1px 1px 3px #394C5F;
	width: 60px;
	text-align: center;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#fontdragr label, #fontdragr select, #fontdragr input, #fontdragr button {
	display: block;
	border: 1px solid #ECECEC;
	padding: 5px;
	margin: 5px 0 0 0;
	font: 14px Verdana, Arial, Helvetica, sans-serif !important;
	width: 200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#fontdragr label {
	float: left;
	display: block;
	width: auto;
	margin: 0 10px;
	border: none;
	padding: 0;
}
#fontdragr button {
	display:block;
	margin-top: 21px;
	width: auto;
	*margin-top: 38px;
	cursor: pointer;
}
#fontdragr #fd-handle {
	background: url(data:image/gif;base64,R0lGODlhKAAIAJECALNPFHEyDf///wAAACH5BAEAAAIALAAAAAAoAAgAAAIhhI+pyxgPo5y0RoGz3rx73oSiolnmOX3qymrju3joTGkFADs=) 0 0 no-repeat;
	width: 40px;
	height: 8px;
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin: 0 0 0 -20px;
	cursor: pointer;
}
/* Toggle display */
.fd-hidden { height: 0 !important; padding: 0 !important; }
.fd-hidden * { position: absolute; top: -99em; }
.fd-hidden #fd-handle { top: auto; }